{% extends 'base.html' %}
{% block head %}

<style>

    #map {
   
       width: 100%;
   
       height: 500px;
   
       background-color: grey;
   
   }
   
   </style>


{% endblock %}
{% block body %}

<script>

    function initMap() {

      var macc = {lat: 21.02, lng: 21.02};

      var map = new google.maps.Map(

          document.getElementById('map'), {zoom: 15, center: macc});

      var marker = new google.maps.Marker({position: macc, map: map});

    }

 </script>

<script async defer

    src="https://maps.googleapis.com/maps/api/js?key=api_key&callback=initMap()">

    </script>


{% endblock %}
